.heading1{
    color: brown;
    background-color: black;
}

.heading2{
    color: chocolate;
    background-color: blueviolet;
}

.font-style{
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}